extends layout

block content
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
    link(rel='stylesheet', href='/stylesheets/arrival.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    script.
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          td2 = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else if(td2){
              txtValue = td2.textContent || td2.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            }else {
               tr[i].style.display = "none";
            }
            } else {
               tr[i].style.display = "none";
            }
          }
        }
      }
      function getString() {
        if(document.getElementById('hdr').value === "Helsinki-Vantaan")
          return 1;
        else
          return 0;
      }
      function checkboxFunction() {
        var i = document.getElementById('myCheck');
        if (i.checked == true) {
            console.log('debug removing');
            var filter = "Laskeutunut";
            var input, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.includes("Laskeutunut")) {
                  console.log("poistetaan" + txtValue);
                  tr[i].style.display = "none";     
                } else {
                  tr[i].style.display = "";           
                }
              }
            }
        } else {
          console.log('debug reset');
          var filter = "Laskeutunut";
          var input, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                tr[i].style.display = "";
            }
          }
        }
      }
  body
    nav.navbar.navbar-expand-md.bg-dark.navbar-dark.container
      a.navbar-brand(href='/')
        i.fas.fa-home  Lennot
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='airline') Lentoyhtiöt
          li.nav-item
            a.nav-link(href='airport') Lentoasemat
          li.nav-item
            a.nav-link(href='contact') Ota yhteyttä
    br
    .container.main
      h3#hdr #{title} lentoaseman saapuvat lennot
      p
        input#myInput(type='text', onkeyup='myFunction()', placeholder='Hae lennon numerolla tai kohteella', title='Type in a name')
      p
        input#myCheck(type='checkbox', onclick='checkboxFunction()')
        label.form-check-label(for='myCheck') Piilota saapuneet lennot
      p
    .container.fluid
      .table-responsive
        table#myTable.table.table-hover
          tbody#hideThis
            td.header 
              b Aika
            td.header 
              b Lento
            td.header 
              b Kohteesta
            td.header
              b Hihna
            td.header
              b Portti
            td.header 
              b Kone
            td.header 
              b Tunnus
            td.header
              b Merkki
            tbody 
              -var index = 0
              each flightObj in arrivallist
                tr
                  - var z = flightObj.prt_f[0]
                  - var v = flightObj.est_d[0]
                  - var temp = new Date(flightObj.sdt[0])
                  - var dateStd = temp.setHours(temp.getHours() + 2)
                  - dateStd = new Date(dateStd).toString().slice(16,21)
                  - var temp2 = new Date(flightObj.act_d[0])
                  - console.log(temp2)
                  - var dateAct = temp2.setHours(temp2.getHours() + 2)
                  - dateAct = new Date(dateAct).toString().slice(16,21)
                  if z === "undefined"
                    td#time=dateStd
                  else if z === "Lähestyy"
                    td#time=dateStd
                      p#early=flightObj.prt_f[0]
                  else if z === "Myöhässä"
                    td#time=dateStd
                      p#delayed="Myöhässä"
                  else if z === "Laskeutunut"
                    td#time=dateStd
                      p#normalTime=flightObj.prt_f[0] + " " + dateAct
                  else if z === "Arvioitu aika"
                    if v !== ""
                    - var q = new Date(flightObj.est_d[0]).getTime()
                    - var p = new Date(flightObj.sdt[0]).getTime()
                    - var temp3 = new Date(flightObj.est_d[0])
                    - var dateEst = temp3.setHours(temp3.getHours() + 2)
                    - dateEst = new Date(dateEst).toString().slice(16,21)
                    - console.log(dateEst + " " + dateAct + " " + dateStd)
                      if q < p
                        td#time=dateStd
                          p#early=flightObj.prt_f[0] + " " + dateEst
                      else if q > p
                        td#time=dateStd
                          p#delayed=flightObj.prt_f[0] + " " + dateEst
                      else
                        td#time=dateStd
                          p#delayed=flightObj.prt_f[0] + " " + dateEst
                  else if z === "Peruttu"
                    td#time=dateStd
                      p#cnl="Peruttu"
                  else
                    td#time=dateStd
                  - var h = flightObj.fltnr[0]
                  - var l = new String((flightObj.fltnr[0]).toLowerCase())
                  td.flight
                    a#flightText(href="https://www.flightradar24.com/data/flights/" + l) #{h}
                  td#destination=flightObj.route_n_1[0]
                  - var n = flightObj.bltarea[0]
                  if n === ""
                    td
                      p#belt="—"
                  else       
                    td
                      p#belt=flightObj.bltarea[0]
                  - var o = flightObj.park[0]
                  if o === ""
                    td
                      p#gate="—"
                  else
                    td
                      p#gate=flightObj.park[0]
                  - var j = flightObj.actype[0]
                  if j === ""
                    td#center
                      a#atcAir="—"
                  else
                    td#center
                      a#atcAir=flightObj.actype[0]
                  - var x = (flightObj.acreg[0] ? new String(flightObj.acreg[0].substr(0,2) + "-" + flightObj.acreg[0].substr(2)) : "")
                  - var y = (flightObj.acreg[0] ? new String(x.toLowerCase()) : "")
                  if y === ""
                    - x = "—"
                  td#left
                    a#linkText(href="https://www.flightradar24.com/data/aircraft/" + y) #{x}
                  - var e = flightObj.callsign[0]
                  if e === ""
                    td
                      a#atcAir="—"
                  else
                    td
                      a#atcAir=flightObj.callsign[0]
                  - index++